<table border='1'>
	<thead>
		<th>id</th>
		<th>name</th>
		<th>price</th>
		<th>Comments</th>
		<th>Actions</th>
	</thead>
	<tbody>
	<% @books.each do |f|%>
		<tr>
			<td><%=f.id%></td>
			<td><%=f.name%></td>
			<td><%=f.price%></td>
			<td><%=f.comments%></td>
			<td><%= link_to 'show',book_path(f)%></td>
			<td><%= link_to 'edit',edit_book_path(f)%></td>
			<td><%= link_to 'delete',book_path(f),method: :delete,data: {confirn: 'Are you sure?'}%></td>
		</tr>
		<%end%>
	</tbody>
	
</table>
<%= link_to 'new',new_book_path%>